body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 32px 256px;
}

.navbar ul {
    display: flex;
    gap: 32px;
}

.logo img {
    height: 80px;
}

.header li {
    list-style-type: none;
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 0;
    
}

.hero-content {
    background-color: #1F2937;
    display: flex;
    padding: 32px 256px 128px 256px;
    justify-content: space-between;
    gap: 128px;
}

.hero-content h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-content {
    display: flex;
    align-items: center;
}

.hero-content img {
    width: 512px;
    height: auto;
    border: 5px solid #F9FAF8;
    border-radius: 6px;
}

.hero-text button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

.gallery-container h2 {
    margin-top: 64px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.gallery-image img {
    height: 200px;
    width: auto;
    border: 5px solid #3882F6;
    border-radius: 5px;
}